<%= simple_form_for(@message, html: {class: 'form-inline' }) do |f|%>
  <div class="steps">
    <div class="container">
      <div class="row numbers">   
        
        <%= render 'campaigns/steps', :locals => {:step1 => "active",
                              :step2 => "active",
                              :step3 => "inactive"} %>
        
        <div class="span2 center button">
              <%= f.button :submit, value: "NEXT", class: "btn btn-next" %>
        </div>
      </div>
    </div>  
  </div>

<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#">Content</a></li>
  <li class="inactive disabled"><a href="#">Templates</a></li>
  <li class="inactive disabled"><a href="#">Design</a></li>
</ul>  

<div class="tab-block">
    <%= f.input :text, label: "Message content:",
                placeholder: "Hello #first_name! Your product was delivered today. Did you enjoy our service? Please give us your feedback by replying 'yes' or 'no'." ,
                as: :text, class: "message_text", 
                input_html: { "ng-model" => "messageText", "ng-init" => "messageText='" + ( @message.text.nil? ? '' : @message.text) + "'" } %>
    <%= f.input :campaign_id, :as => :hidden %>

  <% end %>

  <div class="dynamic_params">
      <small>Use the following placeholders in message body to replace them with dynamic customer data.</small>
    <ul>
      <li><a title="Insert customer first name" onclick="insertAtCaret('message_text','#first_name ');return false;">#first_name</a></li>
      <li><a title="Insert customer last name" onclick="insertAtCaret('message_text','#last_name ');return false;">#last_name</a></li>
      <li><a title="Insert custom column 1" onclick="insertAtCaret('message_text','#custom1 ');return false;">#custom1</a></li>
      <li><a title="Insert custom column 2" onclick="insertAtCaret('message_text','#custom2 ');return false;">#custom2</a></li>
      <li><a title="Insert custom column 3" onclick="insertAtCaret('message_text','#custom3 ');return false;">#custom3</a></li>
    </ul>
          <small>* Customers data is inserted in the next step - Distribution.</small>
  </div>
<br/>
  <div class="alert" ng-show="messageText" ng-init="charsNumberLimit=70">Message characters: {{ messageText.length }}. 
       You are going to be charged for <b>{{ (messageText.length/charsNumberLimit)+0.5 | number:0 }}</b> SMS message.
  </div>
</div>

<script>

function isUnicode(str) {
  var letters = [];
  for (var i = 0; i <= str.length; i++) {
    letters[i] = str.substring((i - 1), i);
    if (letters[i].charCodeAt() > 255) { return true; }
  }
  return false;
}
var dir = $('textarea');
dir.keyup(function(e) {
  if (isUnicode(dir.val())) {
    $(this).css('direction', 'rtl');
  }
  else {
    $(this).css('direction', 'ltr');
  }
}); 

function insertAtCaret(areaId,text) {
    var txtarea = document.getElementById(areaId);
    var scrollPos = txtarea.scrollTop;
    var strPos = 0;
    var br = ((txtarea.selectionStart || txtarea.selectionStart == '0') ? 
        "ff" : (document.selection ? "ie" : false ) );
    if (br == "ie") { 
        txtarea.focus();
        var range = document.selection.createRange();
        range.moveStart ('character', -txtarea.value.length);
        strPos = range.text.length;
    }
    else if (br == "ff") strPos = txtarea.selectionStart;

    var front = (txtarea.value).substring(0,strPos);  
    var back = (txtarea.value).substring(strPos,txtarea.value.length); 
    txtarea.value=front+text+back;
    strPos = strPos + text.length;
    if (br == "ie") { 
        txtarea.focus();
        var range = document.selection.createRange();
        range.moveStart ('character', -txtarea.value.length);
        range.moveStart ('character', strPos);
        range.moveEnd ('character', 0);
        range.select();
    }
    else if (br == "ff") {
        txtarea.selectionStart = strPos;
        txtarea.selectionEnd = strPos;
        txtarea.focus();
    }
    txtarea.scrollTop = scrollPos;
}  
</script>