<%= simple_form_for(@message, html: {class: 'form-inline' }) do |f|%>
  <div class="steps">
    <div class="container">
      <div class="row numbers">   
        
        <%= render 'campaigns/steps', :locals => {:step1 => "active",
                              :step2 => "active",
                              :step3 => "inactive"} %>
        
        <div class="span2 center button">
              <%= f.button :submit, value: "NEXT", class: "btn btn-next" %>
        </div>
      </div>
    </div>  
  </div>


<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#">Content</a></li>
  <li class="disabled"><a href="#">Templates</a></li>
  <li class="disabled"><a href="#">Design</a></li>
</ul>  

<div class="tab-block">
    <%= f.input :text, label: "Message content:", as: :text, class: "message_text" %>
    <%= f.input :campaign_id, :as => :hidden %>

  <% end %>

  <div class="dynamic_params">
    <p>Use the following placeholders in message body to replace them with dynamic customer params:</p>
    <ul style="list-style-type: none">
      <li><b>#first_name</b> - Customer first name</li>
      <li><b>#last_name</b> - Customer last name</li>
      <li><b>#custom1</b> - Custom column 1</li>
      <li><b>#custom2</b> - Custom column 2</li>
      <li><b>#custom3</b> - Custom column 3</li>
      <li><b>#phone</b> - Customer phone number</li>
    </ul>
  </div>
</div>