<%= simple_form_for(@message, html: {class: 'form-inline' }) do |f|%>
  <div class="steps">
    <div class="container">
      <div class="row numbers">   
        
        <%= render 'campaigns/steps', :locals => {:step1 => "active",
                              :step2 => "active",
                              :step3 => "inactive"} %>
        
        <div class="span2 center button">
              <%= f.button :submit, value: "NEXT", class: "btn btn-next" %>
        </div>
      </div>
    </div>  
  </div>

<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#">Content</a></li>
  <li class="inactive disabled"><a href="#">Templates</a></li>
  <li class="inactive disabled"><a href="#">Design</a></li>
</ul>  

<div class="tab-block">
    <%= f.input :text, label: "Message content:",
                placeholder: "Hello #first_name! Your product was delivered today. Did you enjoy our service? Please give us your feedback by replying 'yes' or 'no'." ,
                as: :text, class: "message_text" %>
    <%= f.input :campaign_id, :as => :hidden %>

  <% end %>


  <div class="dynamic_params">
    <div class="btn-group">
        <a class="btn" title="Insert customer first name" onclick="insertAtCaret('message_text','#first_name ');return false;">First name</a>
        <a class="btn" title="Insert customer last name" onclick="insertAtCaret('message_text','#last_name ');return false;">Last name</a>
        <a class="btn" title="Insert custom column 1" onclick="insertAtCaret('message_text','#custom1 ');return false;">Custom1</a>
        <a class="btn" title="Insert custom column 2" onclick="insertAtCaret('message_text','#custom2 ');return false;">Custom2</a>
        <a class="btn" title="Insert custom column 3" onclick="insertAtCaret('message_text','#custom3 ');return false;">Custom3</a>
    </div>
      <a href="" onclick="return false;" rel="tooltip" title="Use the following placeholders in message body to replace them with dynamic customer data. Customers data is inserted in the next step - Distribution. To unsubscribe, use '0'." class="icon-question-sign" style="float:right"></a>    
  </div>

  <div class="char_counter">
    <div class="alert" style="float:left; width:500px;">            
        Characters: <b id="charsCounter"></b>. 
        You are going to be charged for <b id="numOfMessages"></b> SMS message. 
    </div>
    <div style="float:right">
      <a href="" onclick="return false;" rel="tooltip" title="Max characters in an international unicode message is 70 and 160 characters in a standard English alphabet message." class="icon-question-sign"></a>
    </div>
  </div>

</div>

<script>

var inputTextArea = $("textarea");
inputTextArea.keyup(function() { changeDirection(inputTextArea); }); 
$(document).ready(function() { changeDirection(inputTextArea); }); 

var inputField = $("input[type='text']");
inputField.keyup(function() { changeDirection(inputField); }); 
$(document).ready(function() { changeDirection(inputField); }); 

var dirText = $('#message_text');
dirText.keyup(function(e) { changeTextDirection(); }); 
$(document).ready(function(e) { changeTextDirection(); }); 


  function changeTextDirection() {
    var len = dirText.val().length;
    var charsLimit = 0;

    if (isRTL(dirText.val())) {
      dirPhone.css('direction', 'rtl');
      charsLimit = 70;
    }
    else {
      dirPhone.css('direction', 'ltr');
      charsLimit = 160;
    }
    
    $('#charsCounter').text(len);
    $('#numOfMessages').text(Math.ceil(len/charsLimit));

    dirPhone.text(dirText.val());

    if (dirText.val() == '')
      dirPhone.css('display', 'none'); 
    else
      dirPhone.css('display', 'inline-block'); 

  }

</script>