<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @message.text %>
</p>

<p>
  <strong>Messagetype:</strong>
  <%= @message.messagetype_id %>
</p>

<p>
  <strong>Campaign:</strong>
  <%= @message.campaign_id %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
