<% provide(:title, "Login") %>

<h1>Login</h1>

<%= simple_form_for(:session, url: sessions_path, html: {class: 'form-inline' }) do |f|%>

    <%= f.input :email, placeholder: 'user@domain.com' %>
    <%= f.input :password %>
    <%= f.button :submit, value: 'Login' %>

<% end %>

<% if flash[:error] %>
    <div id="error"><%= flash[:error] %></div>
<% end %>
