<%= simple_form_for(@customer, html: {class: 'form-inline' }) do |f|%>

  <% if controller.controller_name == 'customers' && 
    (controller.action_name == 'index' || controller.action_name == 'create') %>
    <h3>Add customer</h3>
  <% else %>
    <h3>Update customer</h3>
  <% end %>

<div class="row">
  <div class="add_customer span6"> 
      <%= f.input_field :phone, placeholder: 'Phone'%>
      <%= f.input_field :first_name, placeholder: 'First Name' %>
      <%= f.input_field :last_name, placeholder: 'Last Name' %><br/>
      <%= f.input_field :custom1, placeholder: 'Optional custom field 1'%>
      <%= f.input_field :custom2, placeholder: 'Optional custom field 2'%>
      <%= f.input_field :custom3, placeholder: 'Optional custom field 3'%>
      <%= f.input_field :campaign_id, :as => :hidden %>
      <%= f.full_error :phone, id: 'error' %>
      <%= f.full_error :first_name, id: 'error' %>
  </div>

  <div class="span1">
    <% if controller.controller_name == 'customers' && 
      (controller.action_name == 'index' || controller.action_name == 'create') %>
        <%= f.button :submit, value: "Add", class: "btn" %>
    <% else %>
        <%= f.button :submit, value: "Update", class: "btn" %>
    <% end %>
  </div>
</div>
<% end %>