<%= simple_form_for([@campaign, @customer], html: {class: 'form-inline' }) do |f|%>

  <% if controller.controller_name == 'customers' && 
    (controller.action_name == 'index' || controller.action_name == 'create') %>
    <h3>Add customer</h3>
  <% else %>
    <h3>Update customer</h3>
  <% end %>

<div class="row">
  <div class="add_customer span7"> 
      <%= f.input_field :phone, label_html: { type: 'tel' }%>
      <%= f.input_field :first_name, placeholder: 'First Name' %>
      <%= f.input_field :last_name, placeholder: 'Last Name' %>
      <br/><div style="height:3px;"></div>
      <%= f.input_field :custom1, placeholder: 'Optional custom field 1'%>
      <%= f.input_field :custom2, placeholder: 'Optional custom field 2'%>
      <%= f.input_field :custom3, placeholder: 'Optional custom field 3'%>
      <%= f.input_field :campaign_id, :as => :hidden %>
      <%= f.full_error :phone, id: 'error' %>
      <%= f.full_error :first_name, id: 'error' %>
  </div>
  <div style="float:right">
    <a href="" onclick="return false;" rel="tooltip" title="Optional custom fields can be used in message body as placeholders to replace them with dynamic customer data. For example, if you want to send your customers a special promotion which varies from customer to customer, you can define $100 as custom field for one customer and $50 for the other. Then, you can use "#custom1" placeholder in the message body to reaplce it with the values you enter." class="icon-question-sign"></a>
  </div>
</div>
<div class="row">
  <div class="span1">
      <div style="height:3px;"></div>
    <% if controller.controller_name == 'customers' && 
      (controller.action_name == 'index' || controller.action_name == 'create') %>
        <%= f.button :submit, value: "Add", class: "btn" %>
    <% else %>
        <%= f.button :submit, value: "Update", class: "btn" %>
    <% end %>
  </div>
</div>

<% end %>

<script>
  var inputField = $("input[type='text']");
  inputField.keyup(function() { changeDirection(inputField); }); 
  $(document).ready(function() { changeDirection(inputField); }); 

  var input = $("#customer_phone");

  input.intlTelInput({
    defaultCountry: "auto",
    //nationalMode: true,
    //autoFormat: false,
    utilsScript: "<%=asset_path 'libphonenumber/utils.js' %>",
  });

</script>