<div class="import-customers">
	<%= form_tag import_path, :id => 'import_file_form' , multipart: true do %>
<div class="row">
	<div>
	    <%= hidden_field_tag('campaign_id', flash[:campaign_id]) %>
	    <div class="hiddenfile">
	    	<%= file_field_tag :file, class: 'btn-file' %>
	    </div>
	</div>

    <div class="span1">
    	<a class="btn btn-import" onclick="importFile();">Import</a>

    </div>
	<div style="float:right;">
      <a href="" onclick="return false;" rel="tooltip" title="You can import files in on of the following formats: CSV, XLS, XLSX or ODS." class="icon-question-sign"></a>
	</div>
	<div class="span6">
		<span id="spinner" style="display:none;"><%= image_tag("spinner.gif") %></span>
		<small><a href='<%=asset_path "import_file_example.csv" %>'>Click here</a> to download import file template.</small>
	</div>

	<% end %>

</div>	
</div>
<script>
 var importFile = function() {
	$('#file').trigger('click');  
 }

$(function(){
    $("#file").change(function(){

		if($('#file').val().toLowerCase().indexOf('.csv') != -1 ||
		   $('#file').val().toLowerCase().indexOf('.tsv') != -1 ||
		   $('#file').val().toLowerCase().indexOf('.xls') != -1 ||
		   $('#file').val().toLowerCase().indexOf('.ods') != -1){
	      	$('#spinner').show();
		  	$("#import_file_form").submit();
	    }
	    else{
	      alert('Invalid file format.\n We support CSV, XLS, XLSX or ODS files.')	    
	    }    	
        
    });
});
</script>