<%= render 'campaigns/steps_header' %>

<div class="row customers">
	<div class="span8">


	<div class="steps">
	    <div class="container">
	      	<div class="row numbers">  
		        <div class="span2 center button">
		          <%= link_to 'BACK', edit_campaign_message_path(@campaign, @message), class: 'btn btn-next' %>
		        </div>	      	 
	        	<%= render 'campaigns/steps', :locals => {:step1 => "active",
	                              :step2 => "active",
	                              :step3 => "active"} %>
		        
		         <div class="span2 center button">
			   	    <input class="btn btn-next" name="commit" type="submit" value="NEXT" onclick="location.href='/reviews/<%= params[:campaign_id] %>'"/>
			   	</div>
			</div>

			<div class="span8">
				<%= render 'tabs', :locals => {:list => "active", :manual => "inactive", :csv => "inactive"} %>

				<div class="tab-block">
					<%= render 'import' %>

                    <div class="span8">
                    	<% unless flash[:status].nil? %>
	                    	<% flash[:status].each do |s| %>
	                    		<div class="alert <%=s[1] %> span6">
	                    			<button type="button" class="close" data-dismiss="alert">&times;</button>
	                    			<%=s[0] %>
	                    		</div>
	                    	<% end %>
                    	<% end %>
                    </div>

					<% if !@customers.nil? && @customers.count > 0 %>
					    <h3>Customers</h3>
					    <%= render 'customers' %>
					<% end %>


					<%= render 'form' %>

				</div>
			</div>

		</div>
	</div>

	</div>	
	<div class="span4 phone">
		<%= render 'campaigns/phone' %>
	</div>
</div>
