<%= render 'campaigns/steps_header' %>

<div class="row cusomers">
	<div class="span8">


	<div class="steps">
	    <div class="container">
	      <div class="row numbers">   
	        <%= render 'campaigns/steps', :locals => {:step1 => "active",
	                              :step2 => "active",
	                              :step3 => "active"} %>
		        
		         <div class="span2 center button">
			   	    <input class="btn btn-next" name="commit" type="submit" value="NEXT" onclick="location.href='/reviews/<%= flash[:campaign_id] %>'"/>
			   	</div>
			</div>

			<div class="row cusomers">
				<div class="span8">
					<div>
					    <%= link_to 'Manually Add Customers', new_customer_path, class: 'btn' %>
					    <%= link_to 'Import Customers from CSV', import_path, class: 'btn' %>
					    <%= link_to 'Import from CRM', '#', class: 'btn' %>
					</div>
					<div style="font-style: italic; color: red;"><%= flash[:notice] %></div>

					<br/>
				</div>
			</div>

			<div class="row cusomers">
				<div class="span8">
					<% if !@customers.nil? && @customers.count > 0 %>
					    <h2>Customers</h2>
					    <%= render 'customers' %>
					<% end %>
				</div>	
			</div>
			</div>
	</div>

	</div>	
	<div class="span4 phone">
		<%= render 'campaigns/phone' %>
	</div>
</div>
