<p id="notice"><%= notice %></p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Custom 1:</strong>
  <%= @customer.custom1 %>
</p>

<p>
  <strong>Custom 2:</strong>
  <%= @customer.custom2 %>
</p>

<p>
  <strong>Custom 3:</strong>
  <%= @customer.custom3 %>
</p>

<p>
  <strong>Campaign ID:</strong>
  <%= @customer.campaign_id %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
