<%= render 'campaigns/steps_header' %>

<div class="row cusomers">
  <div class="span8">

 <div class="steps">
      <div class="container">
        <div class="row numbers">   
          
          <%= render 'campaigns/steps', :locals => {:step1 => "active",
                                :step2 => "active",
                                :step3 => "active"} %>
          
      </div>
    </div>
  </div>  

  <div class="row cusomers tab-block-full">
    <div class="span8">

      <h3>Sending progress</h3>
      <% unless @success_message.nil? %> <p><strong><%= @success_message %></strong><p><% end %>

    	<div class="span7">
    	  <% @progress.each do |error_msg| %>
    	    <div class="alert <%= error_msg[1] %>">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= error_msg[0] %>
          </div>
    	  <% end %>
    	</div>

    </div>
  </div>

  </div>  
  <div class="span4 phone">
    <%= render 'campaigns/phone' %>
  </div>
</div>	