<%= render 'campaigns/steps_header' %>

<div class="row cusomers">
  <div class="span8">

 <div class="steps">
      <div class="container">
        <div class="row numbers">   
          
          <%= render 'campaigns/steps', :locals => {:step1 => "active",
                                :step2 => "active",
                                :step3 => "active"} %>
          
      </div>
    </div>
  </div>  

  <div class="row cusomers tab-block-full">
    <div class="span8">

    <h2>Sending</h2>

	<p><strong>SMS text:</strong>
	  <% @messages.each do |message| %>
	      <%= message.text %>
	  <% end %>

	</p>

	<p><strong>Sending to number of customers:</strong> <%= @campaign_customers.count %><p>

	<h3>Progress status</h3>

	<div style="font-style: italic">
	  <% @progress.each do |error_msg| %>
	    <p><%= error_msg %></p>
	  <% end %>
	</div>

    </div>
  </div>

  </div>  
  <div class="span4 phone">
    <%= render 'campaigns/phone' %>
  </div>
</div>	