<table class="table table-striped">
  <thead>
  <tr>
    <th>#</th> 
    <th>Date</th>
    <th>From</th>
    <th>Body</th>
    <th>Status</th>
  </tr>
  </thead>

  <tbody>
  <% @message_logs.each.with_index do |message_log, index| %>
      <tr>
        <td><strong><%= index+1 %></strong></td>
        <td><%= I18n.l message_log.date, :format => :short %></td>
        <td><%= message_log.from_phone %></td>
        <td><%= message_log.body %></td>
        <td><%= message_log.status %></td>
      </tr>
  <% end %>
  </tbody>
</table>
