<%= simple_form_for(@campaign, html: {class: 'form-inline' }) do |f|%>
	<div class="steps">
		<div class="container">
			<div class="row numbers">		
			  
			  <%= render 'campaigns/steps', :locals => {:step1 => "active",
	                            :step2 => "inactive",
	                            :step3 => "inactive"} %>
			  
			  <div class="span2 center button">
        		  <%= f.button :submit, value: "NEXT", class: "btn btn-next" %>
			  </div>
			</div>
		</div>	
	</div>

    <%= f.input_field :title, placeholder: 'Name your message' %>	
    <%= f.full_error :title, id: 'error' %>

	<%= render 'types' %>

    <% #f.input :description, as: :text, :input_html => { :cols => 5, :rows => 10 } %>
    <% #f.association :campaign_type, :include_blank => false  %>
    <%= f.input_field :campaign_type_id, :as => :hidden %>

<% end %>
