<%= simple_form_for(@campaign, html: {class: 'form-inline' }) do |f|%>
	<div class="steps">
		<h1>Create a Smart Mobile Message in 3 easy steps</h1>

		<div class="container">
			<div class="row numbers">
			  <div class="span2 center">
			      <%= image_tag("step1_active.png"); %>
			    <p>Type</p>
			  </div>
			  <div class="span2 center">
			      <%= image_tag("step2_inactive.png"); %>
			    <p>Content</p>
			  </div>
			  <div class="span2 center">
			      <%= image_tag("step3_inactive.png"); %>
			    <p>Distribution</p>
			  </div>
			  <div class="span2 center button">
        		  <%= f.button :submit, value: "NEXT", class: "btn btn-green" %>
			  </div>
			</div>
		</div>	
	</div>
    	    <%= f.input_field :title, placeholder: 'Message Title', label: false %>	
		    <%= f.error :title, id: 'error' %>

	<div class="types">
		<h4>Choose your SMM type:</h4>

			<div class="row">
		    	<div class="span1 enabled center selected">
		    		<div id="1">
		    			<%= image_tag("types/Marketing.png"); %>
		    			<p>Marketing</p>
		    		</div>
		    	</div>
		    	<div class="span1 enabled  center">
		    		<div id="2">
			    		<%= image_tag("types/Events.png"); %>
			    		<p>Events</p>		    		
		    		</div>
		    	</div>
		    	<div class="span1 enabled center">
		    		<div id="3">
			    		<%= image_tag("types/Surveys.png"); %>
			    		<p>Surveys</p>		    		
		    		</div>
		    	</div>		    	
		    	<div class="span1 enabled center">
		    		<div id="4">
			    		<%= image_tag("types/Scheduling.png"); %>
			    		<p>Scheduling</p>		    		
		    		</div>
		    	</div>
			</div>
			<div class="row">
		    	<div class="span1 disabled center">
		    		<div>
			    		<%= image_tag("types/Comparison.png"); %>
			    		<p>Comparison</p>
		    		</div>
		    	</div>
		    	<div class="span1 disabled center">
		    		<div>
			    		<%= image_tag("types/Support.png"); %>
			    		<p>Support</p>		    		
		    		</div>
		    	</div>
		    	<div class="span1 disabled center">
		    		<div>
			    		<%= image_tag("types/Customized.png"); %>
			    		<p>Customized</p>		    		
		    		</div>
		    	</div>
		    	<div class="span1 disabled center">
		    		<div>
			    		<%= image_tag("types/Tasks.png"); %>
			    		<p>Tasks</p>
		    		</div>		
		    	</div>
			</div>
			<div class="row">
		    	<div class="span1 disabled center">
			    	<div>
			    		<%= image_tag("types/Images.png"); %>
			    		<p>Images</p>
		    		</div>
		    	</div>
		    	<div class="span1 disabled center">
			    	<div>
			    		<%= image_tag("types/Payments.png"); %>
			    		<p>Payments</p>		    		
		    		</div>
		    	</div>
		    	<div class="span1 disabled center">
			    	<div>
			    		<%= image_tag("types/Signatures.png"); %>
			    		<p>Signatures</p>		    		
		    		</div>
		    	</div>
		    	<div class="span1 disabled center">
			    	<div>
			    		<%= image_tag("types/Workflow.png"); %>
			    		<p>Workflow</p>		    		
		    		</div>
		    	</div>
			</div>
	</div>

    <% #f.input :description, as: :text, :input_html => { :cols => 5, :rows => 10 } %>
    <% #f.association :campaign_type, :include_blank => false  %>
    <%= f.input_field :campaign_type_id, :as => :hidden %>

<% end %>
