<table class="table table-striped">
  <thead>
  <tr>
    <th>Title</th>
    <!-- <th>Description</th> -->
    <th>Type</th>
    <th>Status</th>
    <th>Created</th>
    <th>Ends <a href="" onclick="return false;" rel="tooltip" title="Campaign ends after <%=Generic.get_campaign_run_interval*24 %> hours since this is the time it takes to get most responses" class="icon-question-sign"></a>
</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @campaigns.each do |campaign| %>
      <tr>
        <td><strong><%= campaign.title %></strong></td>
        <!-- <td><%= campaign.description %></td> -->
        <td><%= campaign.campaign_type.name %></td>
        <td><%= campaign.campaign_status.name %></td>
        <td><%= I18n.l campaign.created_at, :format => :short %></td>
        <td><%= I18n.l campaign.created_at+3.days, :format => :short %></td>
        <td style=" text-align: right;">

        <% if campaign.campaign_status.name == "Pending" &&
                current_page?(:controller => 'campaigns', :action => 'index')%>
            
            <%= link_to 'Send', review_path(campaign), class: 'btn' %>
            <%= link_to 'Edit', edit_campaign_path(campaign), class: 'btn' %>
            <%= link_to 'Delete', campaign, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %>

        <% elsif campaign.campaign_status.name != "Pending" &&
                current_page?(:controller => 'campaigns', :action => 'index')%>
            
            <%= link_to 'Send Log', send_path(campaign), class: 'btn' %>
            <%= link_to 'Receive Log', receive_path(campaign), class: 'btn' %>

            <% if current_user[:user_type_id] == Generic.UserTypeAdmin %>
                <%= link_to 'Delete', campaign, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %>
            <% end %>
        <% end %>

        </td>
      </tr>
  <% end %>
  </tbody>
</table>