<table class="table table-striped">
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Type</th>
    <th>Status</th>
    <th>Date</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @campaigns.each do |campaign| %>
      <tr>
        <td><strong><%= campaign.title %></strong></td>
        <td><%= campaign.description %></td>
        <td><%= campaign.campaign_type.name %></td>
        <td><%= campaign.campaign_status.name %></td>
        <td><%= campaign.created_at.to_date %></td>
        <% if campaign.campaign_status.name == "Pending" %>
            <% if current_page?(:controller => 'campaigns', :action => 'index') %>
                <td><%= link_to 'Edit', review_path(campaign) %></td>
            <% else %>
                <td><%= link_to 'Edit', edit_campaign_path(campaign) %></td>
            <% end %>
        <% else %>
         <td></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>