<table class="table table-striped">
  <thead>
  <tr>
    <th>Title</th>
    <!-- <th>Description</th> -->
    <th>Type</th>
    <th>Status</th>
    <th>Date</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @campaigns.each do |campaign| %>
      <tr>
        <td><strong><%= campaign.title %></strong></td>
        <!-- <td><%= campaign.description %></td> -->
        <td><%= campaign.campaign_type.name %></td>
        <td><%= campaign.campaign_status.name %></td>
        <td><%= campaign.created_at %></td>
        <% if campaign.campaign_status.name == "Pending" &&
                current_page?(:controller => 'campaigns', :action => 'index')%>
            <td style=" text-align: right;">
              <%= link_to 'Send', review_path(campaign), class: 'btn' %>
              <%= link_to 'Edit', edit_campaign_path(campaign), class: 'btn' %>
              <%= link_to 'Delete', campaign, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %>
            </td>
        <% elsif campaign.campaign_status.name == "Finished" &&
                current_page?(:controller => 'campaigns', :action => 'index')%>
            <td style=" text-align: right;">
              <%= link_to 'Send Log', send_path(campaign), class: 'btn' %>
              <%= link_to 'Receive Log', receive_path(campaign), class: 'btn' %>
            </td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>