<p id="notice"><%= notice %></p>

<h1>Campaign</h1>

<p>
  <strong>Title:</strong>
  <%= @campaign.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @campaign.description %>
</p>

<p>
  <strong>Type:</strong>
  <%= @campaign.campaign_type.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @campaign.campaign_status.name %>
</p>
