<%= render 'campaigns/steps_header' %>

<div class="row cusomers">
  <div class="span8">

 <div class="steps">
      <div class="container">
        <div class="row numbers">   
          
          <%= render 'campaigns/steps', :locals => {:step1 => "active",
                                :step2 => "active",
                                :step3 => "active"} %>
          
           <div class="span2 center button">

      <% if @campaigns.first.campaign_status.name == 'Pending' %>
          <form action="/send"  id="send" method="post">
            <div>
              <input type="hidden" name="campaign_id" value="<%= params[:id] %>" />
              <input class="btn btn-next" name="commit" type="submit" value="SEND">
            </div>
            <div>
              <input type="checkbox" name="test" id="test" value="1" checked onclick="$(this).val(this.checked ? 1 : 0)"/> Simulate sending
            </div>
          </form>
      <% end %>

        </div>
      </div>
    </div>
  </div>  

<div class="tab-block-full">
  <div class="cusomers">
  <% if @campaigns.count > 0 %>
      <h3>Type</h3>
      <%= render 'campaigns/table' %>

      <h3>Content</h3>
      <%= render 'messages/table' %>

      <h3>Customers</h3>
      <%= render 'customers/customers' %>
  <% end %>

  </div>
</div>

  </div>  
  <div class="span4 phone">
    <%= render 'campaigns/phone' %>
  </div>
</div>
