<h1>Campaign Review</h1>

<%= render 'campaigns/steps', :locals => {:step1 => "passed",
                                          :step2 => "passed",
                                          :step3 => "selected"} %>

<% if @campaigns.count > 0 %>
    <h2>Campaign</h2>
    <%= render 'campaigns/table' %>

    <h2>Message</h2>
    <%= render 'messages/table' %>

    <h2>Customers</h2>
    <%= render 'customers/customers' %>


    <% if @campaigns.first.campaign_status.name == 'Pending' %>
        <div style="float: left; height: 20px;">
          <input type="checkbox" id="test" value="0" checked /> Check to simulate SMS sending to find errors, uncheck to send for real (charges will be applied)
        </div>

        <div style="float: right; height: 20px;">
          <%= link_to 'Edit', edit_campaign_path(params[:id]), class: 'btn' %>

          <input class="btn btn-danger" name="commit" type="submit" value="Send"
                        onclick="buildURL();"/>
        </div>

        <div style="clear: left;"></div>
    <% end %>
<% end %>

<script language="javascript">
    function buildURL() {
        test = document.getElementById('test').checked

        if (test || confirm('Are you sure you want to send this campaign to your customers?')) {
            location.href = '/send/<%= params[:id] %>?test=' + test
        }
    }
</script>
