<h1>Campaign Review</h1>

<%= render 'campaigns/steps', :locals => {:step1 => "passed",
                                          :step2 => "passed",
                                          :step3 => "selected"} %>

<% if @campaigns.count > 0 %>
    <h2>Campaign</h2>
    <%= render 'campaigns/table' %>

    <h2>Message</h2>
    <%= render 'messages/table' %>

    <h2>Customers</h2>
    <%= render 'customers/customers' %>

    <% if @campaigns.first.campaign_status.name == 'Pending' %>
        <form action="/send"  id="send" method="post">
          <div style="float: left; height: 20px;">
            <input type="checkbox" name="test" id="test" value="1" checked onclick="$(this).val(this.checked ? 1 : 0)"/> Check to simulate SMS sending to find errors, uncheck to send for real (charges will be applied)
          </div>

          <div style="float: right; height: 20px;" >
            <%= link_to 'Edit', edit_campaign_path(params[:id]), class: 'btn', style: 'display: inline-block' %>
            <input type="hidden" name="campaign_id" value="<%= params[:id] %>" />
            <input class="btn btn-danger" name="commit" type="submit" value="Send">
          </div>

          <div style="clear: left;"></div>
        </form>
    <% end %>
<% end %>
